.container-fluid{
  height: 200px;
  text-align: center;
  border-width: thick;
  padding: 20px;
  text-decoration-line: underline;
  color:white;
  font-family: 'IM Fell English SC', serif;
  font-size: 25px;

  }




body{

background-image: url("../img/pingo.jpg");
font-size: 18px;
color: red;
background-blend-mode: darken;

}
button{
  color:red;
}
input{
  color:black;
}
